.inputClass{
    width: 400px;
    height: 30px;
    text-align: center;
}

.buttonClass{
    height: 30px;
    width: 60px;
    text-align: center;
}

.inline{
    display: inline;
}

h1 {
    background-color: cyan;
}

table {
    height: 30px;
    width: 400px;
    margin-top: 10px;

}

td {
    border: black ;
}



.td1st {
    width: 350px;
}

.td2nd {
    width: 50px;
}